# Node modules folder
node_modules/

# Environment variables (commonly used to store API keys or secrets)
.env

# Build output directories
build/
dist/

# System files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage directory (for test coverage reports)
coverage/

# Temporary files
*.tmp
*.log

# VSCode project settings
.vscode/

# Windows system files
Thumbs.db

